.groupWrapper {
}

.groupTitle {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.groupItems {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 300;
}
